.nav {
  height: 40px;
  background:#81F7F3;
}

.nav ul{
  margin:0;
  padding:0;
   text-align: right;

}

.nav ul li{
  list-style:none;
  display: inline-block;
}

.nav ul li a {
  text-decoration: none;
  float: left;
  display: block;
  padding: 10px 20px;
  color: black;
  
}

.nav ul li a:hover{
  color: white;
}

.fun ul{
margin:0;
padding:0;
text-align: center;
 list-style-position: inside;
}

.fun ul li{
	 padding: 2px 5px;  
}

.images_hz {

    display: inline-block;
  text-align: center;

}

.aboutpic {
  float: left;
margin: 0px 15px 15px 0px;
  
}

.myButton {
	 
 margin: 0 auto 0 auto;
    display: inline-block;
    height: 50px;
    color: black;
    font-size: 35px;
    text-decoration: none;
    line-height: 36px;
    box-sizing: border-box;
    padding: 1px 0 0 0;
    text-align: center;
    border-radius: 4px;
    margin-top: 30px;
}


.imageBorder{
border: 2px;
    border-color: Black;
    margin: 0px 15px 15px 0px;
}


.preview{
	display:inline-block;
}

h3{
	display:inline-block;
}

.ha{
text-align: left;
padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

.hb{
	text-align: center;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

.hc{
	text-align: right;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}


seeMore{
	display:inline-block;
}

.screenshots{
	  float: left;
margin: 0px 15px 15px 0px;
}
