.nav {
  height: 40px;
  background:#81F7F3;

}

.nav ul{
  margin:0;
  padding:0;
   text-align: center;

}

.nav ul li{
  list-style:none;
  display: inline-block;
}

.nav ul li a {
  text-decoration: none;
  float: left;
  display: block;
  padding: 10px 20px;
  color: black;
  
}

.nav ul li a:hover{
  color: white;
}


.images_hz {
 float:left;

}
