.nav {
  height: 40px;
  background:#81F7F3;

}

.nav ul{
  margin:0;
  padding:0;
   text-align: center;

}

.nav ul li{
  list-style:none;
  display: inline-block;
}

.nav ul li a {
  text-decoration: none;
  float: left;
  display: block;
  padding: 10px 20px;
  color: black;
  
}

.nav ul li a:hover{
  color: white;
}


.images_hz {
 margin: 0 auto 0 auto;
    display: inline-block;

}

.aboutpic {
  float: left;
  margin:0;
  padding:0;
   text-align: center;
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
